* { 
  box-sizing: border-box; 
  margin: 0; 
  padding: 0; 
}
body {
  background: #444;
  display: flex;
  padding: 40px;
}

/* SCREEN */
.screen {
  position: relative;
  width: 320px;
  height: 240px;
  background-color: rgba(0, 0, 0, 0);
  color: #fff;
  overflow: hidden;
  outline: 2px solid #0f0;
}

/* HEADER */
.header {
  position: relative;
  z-index: 2; 
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 18px;
  padding: 0 7px;
  color: #fff;
  font-family: -apple-system, "Helvetica Neue", Arial, sans-serif;
  font-size: 12px;
  font-weight: bold;
  background: linear-gradient(to bottom, #242424, #111111 45%, #020202 55%, #2e2e2e);
  border-bottom: 1px solid #111;
  text-shadow: 0 1px 1px #000;
  box-shadow: 0 0px 9px 3px rgba(0, 0, 0, 0.9);
}
.header span {
  line-height: 20px;
}

 /* =========================================================
    SCREEN 1: MAIN MENU (ONE ITEM SELECTED)
    ========================================================= */
.wallpaper {
  position: absolute;
  top: 0;
  left: 0;
  width: 320px;
  height: 240px;
  background: red url("/ui/wallpaper/sayawallpaper.png") center/cover no-repeat;
  z-index: 0;
}
.menu-list {
  position: absolute;
  left: 0;
  top: 18px;
  width: 190px;
  height: 222px;
  z-index: 1;
}
.menu-item {
  position:absolute;
  width: 190px;
  padding-left: 10px;;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  border-radius: 0 10px 10px 0;
  font-family: -apple-system, "Helvetica Neue", Arial, sans-serif;
  font-size: 16px;
  background: linear-gradient(
      to bottom,
      rgba(50, 50, 50, 0.95) 0%,
      rgba(20, 20, 20, 0.94) 45%,
      rgba(2, 2, 2, 0.94) 55%,
      rgba(15, 15, 15, 0.96) 100%
    );
  border: 1px solid rgba(255, 255, 255, 0.12);
  box-shadow:
      7px 0 16px -1px rgba(0, 0, 0, 0.75),
      0 1px 0 rgba(255, 255, 255, 0.08) inset,
      0 -1px 0 rgba(0, 0, 0, 0.55) inset;
  }
.menu-item.selected {
  background: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0.97) 0%,
      rgba(240, 240, 240, 0.94) 45%,
      rgba(214, 214, 214, 0.91) 55%,
      rgba(232, 232, 232, 0.96) 100%
    );
    border: 1px solid rgba(255, 255, 255, 0.25);
  color: #000;
  font-weight: bold;
}
.menu-item .arrow {
    position: absolute;
    right: 14px;
  }
#songs     { top: 0px;   height: 32px; }
#playlists { top: 32px;  height: 32px; }
#artists   { top: 64px;  height: 32px; }
#albums    { top: 96px;  height: 32px; }
#pong      { top: 128px; height: 32px; }
#devices   { top: 160px; height: 32px; }
#settings  { top: 192px; height: 31px; }